# Compiled class file
*.class

# HTML
index.html

# DEPRECATED
DEPRECIATED/
DEPRECATED/
OBSOLETE/
OBSOLETE/PendingDelete/
IGNORE/
temp

# macOS DS file
.DS_Store

# npm
.npmrc

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Yarn Integrity file
.yarn-integrity

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port
